<div class="promo-backdrop hide" id="add-popup">
    <div class="promo-content">
        <div class="promo-close" id="promo-close"> <img src="/images/icons/cancel.svg" alt=""> </div>
        <div class="promo-title desktop-only"> <%- title %> </div>
        <div class="promo-body">
            <div class="pop-up__icon" style="width: 60%">
                <img src="/images/bg/bag.svg" alt="">
            </div>
            <h1 class="m-t-20"><%- message %> </h1>
            <div class="promo-end">
                <span class="date"> <em> <%- end_date %></em> </span>
            </div>
            <div class="m-t-40">
                <a href="/sales" class="btn primary">Contact Sales</a>
            </div>
        </div>
    </div>
</div>