<div class="promo-backdrop hide" id="add-popup">
    <div class="promo-content">
        <div class="promo-close" id="promo-close"> <img src="/images/icons/cancel.svg" alt=""> </div>
        <div class="promo-title"> <%- title %> </div>
        <div class="promo-body">
            <img src="/images/bg/bag.svg" alt="">
            <h1 class="m-t-20"><%- message %> </h1>
            <div class="m-t-80">
            <a href="/sales" class="btn primary" class="p-t-80">Contact Sales</a>
            </div>
        </div>
    </div>
</div>