<section class="media-caption grid-ui">
    <div class="equal-columns_2 grid">
        <div class="container quote-wrapper">
        <span class="quote"> <img src="../images/icons/left-quote.svg" alt=""> </span>
        <blockquote>
            <%- quote %>
        </blockquote>
        </div>
        <div class="desktop-only bg-image_<%-type %> "></div>
    </div>
</section>