<section class="launch-hero"> 
    <div class="hero-text__wrapper">
        <div class="hero-text row">
            <h1>Our Website is under Development. Please check back in a moment</h1>
        </div>
    </div>
</section>