<section class="about-piks grid-ui p-b-50 p-t-50">
    <div class="grid container equal-columns_2">
        <div>
        <img src="<%= image_1 %>" alt="">
        </div>
        <div>
        <img src="<%= image_2 %>" alt="" style= <%= style %>  >
        </div>
    </div>
</section>