
<div>
    <img src="/images/reviewer/icon_reviwer1.png" alt="" class="img-xsm">
    <h5 class="caption p-t-20"> <%- name %></h5>
    <div class="testimonial-divider"></div>
    <div class="testimonial-title"> <%- title %></div>
    <div class="testimonial-body">
        <p> <%- body %> </p>
    </div>
</div>
