/* nav-item --start navigation and navigation links */
nav ul li {
  position: relative;
  list-style: none;
  display: inline;
  padding: 30px;
  cursor: hand;
}

nav ul {
  margin-top: 32px;
  /* margin-right: 15%;
  float: right; */
}

.nav-item .dropdown {
  top: 90%;
  display: none;
  font-size: 12px;
  position: absolute;
  border-radius: 2.5px;
  left: -50%;
  right: -50%;
  min-width: -webkit-max-content;
  min-width: max-content;
  min-width: intrinsic;
  min-width: -moz-max-content;
  width: -webkit-max-content;
  max-width: 500px;
  background-color: var(--app-white);
  opacity: 0;
  text-align: left;
  visibility: hidden;
  color: var(--dark);
  transition: all 0.135s ease-in-out 0s;
  border: 1px solid rgba(216, 213, 213, 0.5);
}

.nav-item .company-dropdown {
  left: 10%;
  right: -100%;
  min-width: 170px;
}

.dropdown .dropdown-container {
  padding: 25px;
}

.dropdown ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  /* padding: 10px; */
  margin-top: 5px;
}

.nav-item .dropdown ul li {
  padding: 15px;
}

.nav-item .dropdown ul li:hover {
  color: var(--app-secondary);
}
/* .nav-item .dropdown::before {
  background: red;
  position: absolute;
  right: 0;
  top: -10px;
  content: ' ';
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border: 1px solid rgba(216, 213, 213, 0.5);
  z-index: -1;
  left: 95px;
} */

.nav-item::after {
  display: none;
  background: var(--app-white);
  position: absolute;
  right: 0;
  top: 75%;
  content: ' ';
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid rgba(216, 213, 213, 0.5);
  border-left: 1px solid rgba(216, 213, 213, 0.5);
  /* z-index: -1; */
  left: 45%;
  right: 100%;
}

.nav-item:hover::after {
  display: block;
}

.nav-item:hover .dropdown{
  display: block;
  visibility: visible;
  opacity: 1;
}

/* .nav-item .nav-links {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
} */

.nav-item .nav-links .link-item {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 15px;
}

.nav-item .nav-links .link-item .link-sub_caption {
  font-size: 10px;
  font-weight: 300;
  color: var(--app-default);
}

.nav-item .nav-links .link-item .link-caption {
  font-weight: 900;
}

.nav-item .nav-links .link-item .link-image {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  background: var(--app-icon-bg-light);
}

.nav-item .nav-links .link-item .link-image img {
  width: 17px;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-item .nav-links .link-item:hover .link-image {
  background: var(--app-icon-bg);
}

@media only screen and (max-width: 768px) {
  .nav-item:hover::after {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ".menu" 
    ".hamburger-wrapper" 
  }
  
  nav .grid-ui .equal-columns_2 {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
  }

  .hamburger-wrapper {
    position: absolute;
    right: 10%;
    top: 15%;
  }
  
  .menu{
    background: var(--app-white);
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }

  nav ul li {
    /* position: relative;
    display: block;
    padding: 10px 40px; */

    position: relative;
    display: block;
    padding: 10px 0px;
    margin-right: 10px;
  }

  .nav-item .dropdown {
    position: relative;
    border: none;
    left: 0;
    right: 0;
    width: 100%;
  }

  .dropdown .dropdown-container {
    /* padding: 25px; */
    padding: 2.5px;
    width: calc(100% - 5px) ;
  }

  .menu-toggle {
		display:block;
		visibility: hidden;
	}
}

/* hide the hamburger for big screens */
@media only screen and (min-width:768px){
  .hamburger-wrapper{
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */
