<section class="hero">
 <div class="container hero-text__wrapper">
    <div class="hero-text">
     <h2> Experience Our team of Competent Professional </h2>
       <div class="m-t-40">
        <button class="btn cta primary">Discover Our Offerings</button>
       </div>
    </div>
 </div>
</section>