<section class="hero">
 <div class="container hero-text__wrapper">
    <div class="hero-text">
     <h2> Welcome, we have quality citations and more. </h2>
       <div class="m-t-40">
        <button class="btn cta primary slide-in" id="to-offering">Discover Our Offerings</button>
       </div>
    </div>
 </div>
</section>