<section class="hero large-hero__<%- type %> ">
    <div class="container hero-text__wrapper">
        <div class="hero-text">
        <h2>  <%- text %> </h2>
            <!-- <div class="m-t-40">
            <button class="btn cta primary slide-in" id="to-offering">Discover Our Offerings</button>
            </div> -->
        </div>
    </div>
</section>