<section class="medium-hero medium-hero__<%- type %> ">
        <div class="container hero-text__wrapper">
            <div class="hero-text">
                <h2>  <%- text %> </h2>
            </div>
        </div>
</section>