@import './variables.css';

@keyframes popup {
	0%{
		transform: scale(1);
	}

	50%{
		transform: scale(1.4);
	}

	75% {
		transform: scale(1.3);
	}

	100%{
		transform: scale(1.2);
	}
}

@keyframes addColour {
	0% {
		/* background:  var( --app-white); */
		background:  var( --app-primary);
	}

	100% {
		/* background: var(--app-secondary); */
		background:  var( --app-primary);
	}
}

 /* slide in from left */
.slide-out_right {
	transform: translateX(200px);
    transition: 0.5s ease-in-out;
}

@keyframes slide-in_left {
	0% {
		transform: translateX(-200px);
	}

	50% {
		transform: translateX(-100px);
	}

	100% {
		transform: translateX(0px);
	}
}

/* move away from the left */
@keyframes slide-out_left {
	0% {
		transform: translateX( 0px);
	}

	50% {
		transform: translateX(-100px);
	}

	100% {
		transform: translateX(-200px);
	}
}

@keyframes slide-in_left {
	0% {
		transform: translateX(-500px);
	}

	50%{
	 transform:  translateX(-100px)	
	}

	75% {
		transform: translateX(-120px)
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes dropdown {
	0%{
		transform: translateY(-500px)
	}

	100% {
		transform: translateY(0px);
	}
}

.slow-spin {
	animation: spin 3s ease-in 0s infinite forwards normal;
}

@keyframes move-up {
	0% {
		transform: translateY(50px);
	}

	100% {
		transform: translateY(-20px);
	}
}

.move {
	animation: move-up 3s ease-in 0s 1 forwards normal;	
}