// variables
$one: 1;
$two:2;
$three:3;
$four: 4;
$five: 5;
$six: 6;
$seven: seven;
$eight: 8;
$nine: 9;
$ten: 10;
$eleven: 11;
$twelve: 12;
$thirteen: 13;
$fourteen: 14;
$fifteen: 15;
$sixteen: 16;


@supports (display: grid) {
  .grid {
    display: grid;
  }
}

@supports not (display: grid) {
  .grid {
    display: flex;
  }
}

/* wrap all grid items in this parent */
.grid-gap_#{$ten}{
  grid-gap: #{$ten}px;
}

// DEFINE -- equal grid columns here

.grid-ui {
  
  .equal-columns_#{$two} {
    grid-template-columns: repeat(2, 1fr);
  }

  .equal-columns_#{$three} {
    grid-template-columns: repeat(3, 1fr);
  }

  .equal-columns_#{$four} {
    grid-template-columns: repeat(4, 1fr);
  }

  .equal-columns_#{$five} {
    grid-template-columns: repeat(5, 1fr);
  }

  .equal-columns_#{$six} {
    grid-template-columns: repeat(6, 1fr);
  }

  .equal-columns_#{$seven} {
    grid-template-columns: repeat(7, 1fr);
  }

  .equal-columns_#{$eight} {
    grid-template-columns: repeat(8, 1fr);
  }

  .equal-columns_#{$nine} {
    grid-template-columns: repeat(9, 1fr);
  }

  .equal-columns_#{$ten} {
    grid-template-columns: repeat(10, 1fr);
  }

  .equal-columns_#{$eleven} {
    grid-template-columns: repeat(11, 1fr);
  }

  .equal-columns_#{$twelve} {
    grid-template-columns: repeat(12, 1fr);
  }

  .equal-columns_#{$thirteen} {
    grid-template-columns: repeat(13, 1fr);
  }

  .equal-columns_#{$fourteen} {
    grid-template-columns: repeat(14, 1fr);
  }

  .equal-columns_#{$fifteen} {
    grid-template-columns: repeat(15, 1fr);
  }

  .equal-columns_#{$sixteen} {
    grid-template-columns: repeat(16, 1fr);
  }

  .equal-columns_auto {
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
  }

  .small-equal-columns_auto {
    grid-template-columns:  repeat(auto-fit, minmax(15%, 1fr));
  }

  .medium-equal-columns_auto {
    grid-template-columns:  repeat(auto-fit, minmax(25%, 1fr));
  }

  .large-equal-columns_auto {
    grid-template-columns:  repeat(auto-fit, minmax(33.33%, 1fr));
  }

  .extra-large-equal-columns_auto {
    grid-template-columns:  repeat(auto-fit, minmax(50%, 1fr));
  }

}

// DEFINE -- unequal grid columns here
.grid-auto_columns {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.grid-ui  {
  .grid-auto_columns {
    .one {
      grid-column: span 1;
    }
    .two {
      grid-column: span 2;
    }
  
    .three {
      grid-column: span 3;
    }

    .four {
      grid-column: span 4;
    }

    .five {
      grid-column: span 5;
    }

    .six {
      grid-column: span 6;
    }

    .seven {
      grid-column:  span 7;
    }

    .eight {
      grid-column: span 8;
    }

    .nine {
      grid-column:  span 9;
    }

    .ten {
      grid-column: span 10;
    }

    .eleven {
      grid-column: span 11;
    }

    .twelve {
      grid-column:  span 12 ;
    }

    .thirteen {
      grid-column: span 13;
    }

    .fourteen {
      grid-column: span 14;
    }

    .fifteen {
      grid-column:  span 15;
    }

    .sixteen {
      grid-column: span 16;
    }
  }
}

// GRID -- rows 

.grid-ui {
  .grid {
    .rows_#{$two} {
      grid-template-rows: #{$two};
      grid-row-gap: 10px;
    }

    .rows_#{$four} {
      grid-template-rows: #{$four};
      grid-row-gap: 10px;
    }
  }
}

@media only screen and(max-width:768px) {
  .grid-ui {
    .equal-columns_#{$two},
    .equal-columns_#{$three},
    .equal-columns_#{$four},
    .equal-columns_#{$five},
    .equal-columns_#{$six},
    .equal-columns_#{$seven},
    .equal-columns_#{$eight},
    .equal-columns_#{$nine},
    .equal-columns_#{$ten},
    .equal-columns_#{$eleven},
    .equal-columns_#{$twelve} {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-row-gap: 20px;
      }
  }
}