.launch-hero {
    height: 100vh;
    background: linear-gradient(
		rgba(5, 5, 5, 0.5),
		rgba(64, 65, 64, 0.35)
  ), url("https://images.unsplash.com/photo-1528598426942-73ca0764864d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.launch-hero .hero-text__wrapper .hero-text {
  top: 40%;
  font-size: 20px;
  line-height: 1.3;
}