

@media only screen and (min-width:769px) {
    #home .site-header {
        background: var(--app-white);
    }
}

@media only screen and (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    #home .site-header {
        background: var(--app-secondary);
    }

    .item-offerings__group {
        margin-top: 0px;
        position: relative;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

      .container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .user-form {
        width: 100%;
        margin-top: 0;
    }

    .user-account .equal-columns_2 div:nth-child(1) {
        margin-top: 20px;
    }
}

 /* very large screens */
 @media only screen and (min-width: 1440px) {
   .hero {
     height: calc(100vh - 85px);
   }
 }