@import '../css/button.css';
@import '../css/floating-btn.css';
@import '../css/tabs.css';
@import '../css/animation.css';
@import '../css/header.css';
@import '../css/sections-brief.css';
@import '../css/resources-util.css';
@import '../css/training.css';
@import '../css/resources-util.css';
@import'../css/carousel.css';
@import '../css/footer.css';
@import '../css/hamburger.css';
@import '../css/grid.css';
/* @import "../css/media-query.css" screen and (max-width: 768px); */


:root {
  --app-primary:  #1395F1;
  --app-primary-light:  rgba(19, 149, 241,0.5);
  --app-secondary: rgb(0, 157, 255);
  --app-icon-bg: rgba(0, 157, 255, 0.2);
  --app-icon-bg-light: rgba(0, 157, 255, 0.1);
  --app-primary-light: rgba(0, 157, 255,0.7);
  --app-light: #F2F6F9;
  --app-font-caption: #34445B;
  --app-font-caption-light:rgba(66,83,107,.75);
  --app-default: #758D94;
  --app-default-light: rgba(117, 141, 148, 0.5);
  --app-header: #34445B;
  --app-white: #fff;
  --app-off-white: #d2cfcf;
  --app-gray: #63696d;
  --app-black: #000;
  --app-red: rgb(223, 23, 23);
  --app-faint-line: rgba(123, 144, 149, 0.3);
}

body{
  padding: 0;
  margin: 0;
  font-family: Roboto,arial,sans-serif;
}

* {
  box-sizing: border-box;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;

}

a {
  color: var(--app-black);
}

a, ul li{
  text-decoration: none;
  background: transparent;
}

/* reseting list padding */
.item-offerings__group,
.research-links .container ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.no-pad dd {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

/* position relative */
.site-header__position,
.small-left__grid {
  position: relative;
}

 /* header and navigation */
.site-header{
  height: 86px;
  z-index: 1000;
  border-bottom: 1px solid #afb2b9;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

#home .site-header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  border: none;
  font-size: 14px
}

/* takes care of the fixed position that was given to the fixed header */
.site-header__position {
  width: 100%;
  height: 86px;
}

/* main body */
.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.container-medium {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.row {
  width: 100%;
}

.small-left__grid {
  width: 100%;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto;
  align-items: center;
}

/* add header colour for big screens */
@media only screen and (min-width:768px){
  .addColour {
    -webkit-animation: addColour 0.5s ease-in-out 0s 1 forwards normal;
            animation: addColour 0.5s ease-in-out 0s 1 forwards normal;
  }
}

/* --end nav style */


/* start hero style */
.hero {
  position: relative;
  background-image:linear-gradient(
		rgba(5, 5, 5, 0.5),
		rgba(64, 65, 64, 0.35)
  ),
  url("/images/hero/rawpixel-256641-unsplash.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-text__wrapper .hero-text h2 {
  -webkit-animation: dropdown 2s ease-in-out 0s 1 forwards normal;
          animation: dropdown 2s ease-in-out 0s 1 forwards normal;
}

.slide-in {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.hero .hero-text__wrapper .hero-text .slide-in {
  -webkit-animation: slide-in_left 1.5s ease-in-out 2s 1 forwards normal;
          animation: slide-in_left 1.5s ease-in-out 2s 1 forwards normal;
}

.small-hero {
  position: relative;
  background-image:linear-gradient(
		rgba(5, 5, 5, 0.5),
		rgba(64, 65, 64, 0.35)
  ),
  url("https://images.unsplash.com/photo-1550908369-c297723a5832?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text__wrapper .hero-text{
  position: absolute;
  margin-top: 23%;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.small-hero .hero-text__wrapper .hero-text {
  width: 94%;
  margin-top: 9.5%;
  text-align: left;
  margin-left: 5%;
  padding: 0.5%;
}

.small-hero .hero-text__wrapper .hero-text h1 {
  font-size: 24px;
}
/* end hero style */


/* STYLE links here */


/* END links style */


/* start offerings style */
.offerings {
  padding: 120px 0;
  min-height: 320px;
  position: relative;
}

.item-offerings__group {
  margin-bottom: 80px;
  position: relative;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.research,
.software,
.analysis,
.citation,
.print {
  background-size: auto 100%;
  background-position:top;
  background-repeat: no-repeat;
}

.research {
  background-image: url("../images/icons/research.svg");
}

.software {
  background-image: url("../images/icons/network.svg");
}

.analysis {
  background-image: url("../images/icons/graph.svg")
}

.citation {
  background-image: url("../images/icons/picture.svg")
}

.print {
  background-image: url("../images/icons/printer.svg");
}
.item-offerings__group li{
  float: left;
  box-sizing: border-box;
  text-align: center;
}

.item-offerings__group li a {
  text-decoration: none;
}

.item-offerings__group li a .group-icon {
  display: block;
  margin-top: 60px;
  padding-top: 90px;
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
  font-weight: 300;
}

.item-offerings__group li a span{
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.item-offerings__group li a:hover .group-icon {
  /* filter: grayscale(0%); */
  -webkit-animation: popup 0.3s ease-in-out 0s 1 normal forwards;
          animation: popup 0.3s ease-in-out 0s 1 normal forwards;
}

.item-offerings__group li:hover span {
  color: var(--app-primary);
}

.item-offerings__group li a span {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0;
}
/* end offerings style */

/* start social probe style */
.social-probe {
  height: 670px;
}

.social-probe .txt-airMirror {
  float: left;
  width: 370px;
  margin-top: 75px;
}

/* end social probe style */

/* Start advert style */
.advert {
  min-height: 400px;
  padding: 85px 0 0 0 ;
}

.advert-bg,
.social-probe {
  background: var(--app-light);
}

.advert .img-wrapper {
  margin-bottom: 80px;
}

.advert .caption h1 {
  font-size: 50px;
}

.four-col-grid__uneq {
  grid-template-columns: 430px 150px auto auto;
  grid-gap: 40px;
  grid-template-rows: auto;
  grid-auto-flow: column;
  -ms-layout-grid-type: 10px;
}

.caption {
  color: var(--app-font-caption-light);
}

.caption h4 {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 26px;
  color: var(--app-font-caption);
}

.caption p,
.item-wrap {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px;
}

.item-wrap dl a {
  color: inherit;
}

.caption a {
  line-height: 26px;
  font-size: 14px;
  color: var(--app-secondary) ;
}

.text-wrapper h1 {
  font-size: 46px;
  line-height: 1.5;
}

.caption .text-wrapper,
.img-wrapper {
  width: 90%;
}
/* end advert style */

/* start user account styling */
.user-account {
  min-height: 500px;
  background: url(../images/bg/ic_bg.png) #21a1eb
}

.user-form {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 300px;
  margin-top: 100px;
  background: #fff;
  border-radius: 5px;
  align-items: center;
}

.user-account__text {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.user-account__text a {
  position: relative;
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.user-account__text h4 {
  min-height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--app-font-caption);
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.alt h4 {
  color: var(--app-primary);
}

.user-account__text p {
  line-height: 22px;
  margin-bottom: 13px;
  color: rgba(66,83,107,.87);
}
/* end user account style */


/* start tabs style */
.tabs {
  margin-top: -70px;
  z-index: 100;
  position: relative;
}
/* end tabs style */


/* style about page */

.about-info {
  color: var(--app-default);
}

.about-info p {
  text-align: justify;
  margin-top: 10px;
}

.about-info h2 {
  color: var(--app-header);
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 46px;
}

.about-piks {
  margin-top: 50px;
}

.about-piks img {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
/* ene about page style */

/* START-- media caption here */
  .media-caption {
    min-height: 450px;
    background: var(--app-default);
    box-shadow: 1px 1px 1px 1px rgba(169, 160, 160, 0.5);
  }

  .media-caption .bg-image_media-probe,
  .media-caption .bg-image_software {
    min-height: 600px;
  }

  .media-caption .bg-image_media-probe {
    background-size: cover !important;
    background-repeat: no-repeat;
    background: url("../images/bg/handshake.jpeg");
  }

  /* .media-caption .bg-image_software {
    background-size: cover !important;
    background-repeat: no-repeat;
    background: url(../images/bg/laptop.png)
  } */

  .quote-wrapper {
    color: var(--app-white);
    margin-top: 120px;
    width: 70%;
    margin-left: 20%;
  }

  .quote-wrapper blockquote {
    font-size: 30px;
    line-height: 1.3;
  }

  .quote {
    font-size: 24px;
    fill: var(--app-white);
  }

  .quote-caption {
    /* color: var(--app-gray); */
    text-decoration: underline;
  }

/* END --media caption here */

/* START -- contact form style here */
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* border-radius: 2.5px; */
    border: transparent;
    border-bottom: 1px solid var(--app-default);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .contact-form input {
    height: 40px;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--app-secondary)
  }
/* END -- contact form style here */

/* START -- utilities here */
.row {
  width: 100%;
  text-align: center;
}

.big-size {
  width: 800px;
}

.small-pad {
  padding: 100px 0;
}

.img-fit {
  width: 100%;
}

.img-fit-pad {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.validated:invalid input,
.validated:invalid textarea {
  border-bottom: 1px solid var(--app-red);
}

/* END -- utilites here */

/* START item showcase */
.item-showcase img {
  width: 100%;
}
/* END item showcase */

/* START -- laptop covers page style */
.cover {
  position: relative;
  border-top: 1px solid var (--app-faint-line);
}

.cover::before {
  position: absolute;
  content: attr(category);
  background: var(--app-primary);
  color: var(--app-white);
  top: -19px;
  padding: 10px;
  border-radius: 2.5px;
  z-index: 1;
}

.img-grid_item {
  position: relative;
  background: var(--app-white);
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.img-grid_item img {
 width: 80%;
 margin-left: 10%;
 margin-right: 10%;
}

.samples-container .img-grid_item img {
  width: 100%;
  margin: 0;
}

.img-grid_item:hover {
  border: 1px solid var(--app-primary-light);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  z-index: 3;
}

.img-grid_item:hover img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 2.5px;
}

.samples-container {
  position: relative;
}

.sample {
  position: relative;
}

.sample::before {
  content: attr(number);
  position: absolute;
  background: var(--app-primary-light);
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  right: 85.1%;
  top: 10%;
  visibility: hidden;
}

.sample:hover::before {
  visibility: visible;
}
/* END --laptop covers syle */

/* ANIMATE -- data scroll */
  [data-scroll] {
    transition: opacity 1s;
  }

  [data-scroll="in"] {
    opacity: 1;
    /* transform: translateX(0px);
    transition: 1s ease-in-out; */
    -webkit-animation: slide-in_left 1s ease-in-out 0s 1 normal forwards;
            animation: slide-in_left 1s ease-in-out 0s 1 normal forwards;
  }

  [data-scroll="out"] {
    opacity: 0;
    -webkit-animation: slide-out_left 1s ease-in-out 0s 1 normal forwards;
            animation: slide-out_left 1s ease-in-out 0s 1 normal forwards;
    /* transform: translateX(-200px);
    transition: 1s ease-in-out; */
  }

  [shake] {
    transition: opacity 1s;
  }

  [shake="in"] {
    opacity: 1;
    /* transform: translateX(0px);
    transition: 1s ease-in-out; */
    -webkit-animation: slide-in_left 3s ease-in-out 0s 1 normal forwards;
            animation: slide-in_left 3s ease-in-out 0s 1 normal forwards;
  }

  [shake="out"] {
    opacity: 0;
    -webkit-animation: slide-out_left 3s ease-in-out 0s 1 normal forwards;
            animation: slide-out_left 3s ease-in-out 0s 1 normal forwards;
    /* transform: translateX(-200px);
    transition: 1s ease-in-out; */
  }

/* END animate data-scroll */
@media only screen and (min-width:769px) {
  #home .site-header {
      background: var(--app-white);
  }
}

@media only screen and (max-width: 768px) {
  .desktop-only {
      display: none;
  }

  #home .site-header {
      background: var(--app-secondary);
  }

  .item-offerings__group {
      margin-top: 0px;
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

  .container {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
  }

  .site-header .container {
    padding: 0px;
    width: 100%;
    margin-left: 0%;
   margin-right: 0;
  }

  .user-form {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
  }

  .user-account .equal-columns_2 div:nth-child(1) {
      margin-top: 20px;
  }

  .caption .text-wrapper, .img-wrapper {
    width: 100%;
 }

 .advert .container .twelve .m-t-180 {
   margin-top: 0;
 }

 .company-logo {
   margin-top: 30px;
   margin-left: 30px;
 }
}

/* very large screens */
@media only screen and (min-width: 1440px) {
 .hero {
   height: calc(100vh - 85px);
 }
}
/*# sourceMappingURL=main.css.map */
