<section class="advert advert-<%=type%>">
    <div class="container uneq-grid">
      <div class="caption">
       <div class="text-wrapper">
         <%= leftContent %>
       </div>
      </div>
      <div>
        <%= rightContent %>
      </div>
    </div>
  </section>