<section class="advert advert-<%=type%>">
    <div class="container uneq-grid">
      <div class="caption">
       <div class="text-wrapper">
         <%= leftContent %>
          <!-- <h4>
            Remote control - Control your devices anytime
          </h4>
          <p>
            No matter it's local or remote network, you can use AirMirror to take complete control of your Android devices. The View Only Mode allows you to present your device screen, doing game live streaming and demonstrating apps, etc. You can also use the remote keyboard to type on device using your computer keyboard.
          </p>
          <p class="desc">
              Independent remote control App which support access mobile devices from the phone.
          </p>
          <a href="#go_download_airmirror">
            Get AirMirror
          </a> -->
       </div>
      </div>
      <div>
        <%= rightContent %>
      </div>
    </div>
  </section>