<footer>
  <ul class="grid four-col-grid__uneq">
    <li class="item-wrap no-pad">
      <dl>
        <dt>About AirDroid</dt>
        <dd>AirDroid makes your multi-screen life easier and more focused by helping you access and manage your phone from any computer, anywhere. You can send SMS, view app notifications, transfer files and fully control your phone on computer with AirDroid.</dd>
    </dl>
    </li>
    <li class="item-wrap no-pad">
      <dl>
        <dt>AirDroid</dt>
        <dd><a href="/en/download.html" data-type="footerNav-evolution">Evolution</a></dd>
        <dd><a href="/en/pay/" data-type="footerNav-goPremium" target="_blank">Premium</a></dd>
        <dd><a href="/en/legal/eula.html" data-type="footerNav-eula">EULA</a></dd>
        <dd><a href="/en/legal/privacy.html" data-type="footerNav-privacy">Privacy Policy</a></dd>
        <dd><a href="/en/legal/payment_terms.html" data-type="footerNav-paymentTerms">Payment Terms</a></dd>
    </dl>
    </li>
    <li class="item-wrap no-pad">
      <dl>
        <dt>Community</dt>
        <dd><a href="http://forums.airdroid.com/" target="_blank" data-type="footerNav-forum">Forum</a></dd>
        <dd><a href="http://blog.airdroid.com/" target="_blank" data-type="footerNav-blog">Blog</a></dd>
        <dd>
            <a class="item-help-en" href="http://help.airdroid.com/" target="_blank" data-type="footerNav-support">Help Center</a>
            <a class="item-help-ja i-hide" href="http://help.airdroid.com/" target="_blank" data-type="footerNav-support">Help Center</a>
        </dd>
    </dl>
    </li>
    <li class="item-wrap no-pad">
      <dl>
        <dt>About</dt>
        <dd><a href="/en/aboutUs.html" data-type="footerNav-about">About us</a></dd>
        <dd><a href="/en/partnership.html" data-type="footerNav-partnership">Partnership</a></dd>
        <dd><a href="http://blog.airdroid.com/post/sponsorship-opportunities/" target="_blank" data-type="footerNav-Sponsorship">Sponsorship</a></dd>
        <dd><a href="/en/partnerProgram.html">Partner Program</a></dd>
        <dd>Business Contact: <a href="mailto:biz@airdroid.com">biz@airdroid.com</a></dd>
    </dl>
    </li>
  </ul>
  <div class="row">
    <div class="item-wrap container">
      <p>Developed and Managed by Webmaster @ Hub KB.S Company Limited &copy <span id="current_year">2019</span> .</p>
    </div>
  </div>
</footer>