<section>
	<div class="site-header " id="site-header">
		<div class="container">
			<div class="grid small-left__grid">
				<div> 
					<h3>
						<a href="/" class="">Hub KB.S</a>
					</h3> 
				</div>
				<nav>
					<ul>
						<li class="nav-item">What we do
							<div class="dropdown grid-ui">
								<div class="dropdown-container grid rows_4">
									<div class="faint-caption">SERVICES</div>
									<ul class="nav-links grid equal-columns_2 border-bottom">
										<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/document.svg" alt="" >
											</div>
											<div>
												<a href="/citation">
													<span class="link-caption">Creative Writing</span>
													<div class="link-sub_caption">Best Write up and Design</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/contract.svg" alt="" >
											</div>
											<div>
												<a href="/research">
												<span class="link-caption"> Research </span>
												<div class="link-sub_caption">We are your best friend in research</div>
											</a>
											</div>
										</li>
										<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/contract.svg" alt="" >
											</div>
											<div>
												<a href="/analysis">
													<span class="link-caption"> Data Analysis </span>
													<div class="link-sub_caption"> We bring the reality closer </div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/contract.svg" alt="" >
											</div>
											<div>
												<a href="/software">
													<span class="link-caption">Software Development</span>
													<div class="link-sub_caption">Cloud Applications and Web Services</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/contract.svg" alt="" >
											</div>
											<div>
												<a href="/printing">
													<span class="link-caption"> General Printing</span>
													<div class="link-sub_caption">We offer general Printing services</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/contract.svg" alt="" >
											</div>
											<div>
												<a href="/printing">
													<span class="link-caption">Training</span>
													<div class="link-sub_caption">We offer intensive Training</div>
												</a>
											</div>
										</li>
									</ul>
									
									<div class="m-t-20 faint-caption">PRODUCTS</div>
									<ul class="nav-links grid equal-columns_2">
										<li class="link-item">
												<div class="link-image">
													<img src="/images/icons/document.svg" alt="" >
												</div>
												<div>
													<a href="/citation">
														<span class="link-caption">Citations</span>
														<div class="link-sub_caption">Best Write up and Design</div>
													</a>
												</div>
										</li>
									<li class="link-item">
											<div class="link-image">
												<img src="/images/icons/document.svg" alt="" >
											</div>
											<div>
												<a href="/citation">
													<span class="link-caption">Laptop Covers</span>
													<div class="link-sub_caption">Best Write up and Design</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
								</div>
							</li>
							<!-- <li class="nav-item">I.T / Apps
								<div class="dropdown grid-ui">
									<div class="dropdown-container">
										<ul class="nav-links grid equal-columns_2">
											<li>
												<a href="/citation">Citations</a>
											</li>
											<li>
												<a href="/research">Research</a>
											</li>
											<li>
												<a href="/analysis">Data Analysis</a>
											</li>
											<li>
												<a href="/software">Software Development</a>
											</li>
											<li>
												<a href="/printing">General Printing</a>
											</li>
											<li>
												<a href="/accessories">Laptop Covers</a>
											</li>
										</ul>
									</div>
								</div>
							</li> -->
							<li class="nav-item">Company
								<div class="dropdown company-dropdown grid-ui">
									<ul class="nav-links grid">
										<li>
											<a href="/about">About</a>
										</li>
										<li>
											<a href="/contact">Contact Us</a>
										</li>
										<li>
											<a href="/buddies">Research Buddies</a>
										</li>
									</ul>
								</div>
							</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="site-header__position"></div>
</section>
