<section>
	<div class="site-header " id="site-header">
		<div class="container grid-ui">
			<div class="grid-auto_columns center">
				<div class="four company-logo"> 
					<h3>
						<a href="/" class="">Hub KB.S
							<!-- <img src="/images/icons/hubkbs-logo.png" alt="" style="width:100px"> -->
						</a>
						
					</h3> 
				</div>
				<nav class="twelve grid-auto_columns center text-right">
					<div class="hamburger-wrapper three">
						<div class="hamburger">
							<div id="media-mob">
								<div id="burger-top"></div>
								<div id="burger-mid"></div>
								<div id="burger-down"></div>
							</div>
						</div>
					</div>
					<ul class="menu thirteen menu-toggle" id="menu">
						<li class="nav-item">What we do
							<div class="dropdown grid-ui">
								<div class="dropdown-container grid rows_4">
									<div class="faint-caption">SERVICES</div>
									<ul class="nav-links grid equal-columns_2 border-bottom">
										<li class="link-item">
											<div class="desktop-only link-image">
												<img src="/images/icons/writing.svg" alt="" >
											</div>
											<div>
												<a href="/writing">
													<span class="link-caption">Academic Writing</span>
													<div class="desktop-only link-sub_caption">We Write to suit your thoughts</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="desktop-only link-image">
												<img src="/images/icons/contract.svg" alt="" >
											</div>
											<div>
												<a href="/research">
													<span class="link-caption"> Research </span>
													<div class="desktop-only link-sub_caption">We are your best friend in research</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="desktop-only link-image">
												<img src="/images/icons/software.svg" alt="" >
											</div>
											<div>
												<a href="/software">
													<span class="link-caption">Software Development</span>
													<div class="desktop-only link-sub_caption">Cloud Applications and Web Services</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="desktop-only link-image">
												<img src="/images/icons/printer-bk.svg" alt="" >
											</div>
											<div>
												<a href="/printing">
													<span class="link-caption"> General Printing</span>
													<div class="desktop-only link-sub_caption">We offer general Printing services</div>
												</a>
											</div>
										</li>
										<li class="link-item">
											<div class="desktop-only link-image">
												<img src="/images/icons/training.svg" alt="" >
											</div>
											<div>
												<a href="/training">
													<span class="link-caption">Training</span>
													<div class="desktop-only link-sub_caption">We offer intensive Training</div>
												</a>
											</div>
										</li>
									</ul>
									
									<div class="m-t-20 faint-caption">PRODUCTS</div>
									<ul class="nav-links grid equal-columns_2">
										<li class="link-item">
												<div class="desktop-only link-image">
													<img src="/images/icons/writing.svg" alt="" >
												</div>
												<div>
													<a href="/citation">
														<span class="link-caption">Citations</span>
														<div class="desktop-only link-sub_caption">Best Write up and Design</div>
													</a>
												</div>
										</li>
									<li class="link-item">
											<div class="desktop-only link-image">
												<img src="/images/icons/laptop.svg" alt="" >
											</div>
											<div>
												<a href="/covers">
													<span class="link-caption">Laptop Covers</span>
													<div class="desktop-only link-sub_caption">Best Write up and Design</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
								</div>
							</li>
						<li class="nav-item">Company
							<div class="dropdown company-dropdown grid-ui">
								<ul class="nav-links grid">
									<li>
										<a href="/about">About</a>
									</li>
									<li>
										<a href="/contact">Contact Us</a>
									</li>
									<li>
										<a href="/sales">Contact Sales</a>
									</li>
									<li>
										<a href="/buddies">Research Buddies</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="site-header__position"></div>
</section>
