<section>
	<div class="site-header ">
			<div class="container">
				<div class="small-left__grid">
					<div> <h3>Hub KB.S</h3> </div>
					<nav>
							<ul>
								<li class="nav-item">OUR SERVICES
									<div class="dropdown">
										<ul class="nav-links">
											<li>Citations</li>
											<li>Research</li>
											<li>Data Analysis</li>
											<li>Software Development</li>
											<li>General Printing</li>
											<li>Laptop Covers</li>
										</ul>
									</div>
								</li>
								<li class="nav-item">TECH
									<div class="dropdown">
										<ul class="nav-links">
											<li>one</li>
											<li>two</li>
											<li>three</li>
										</ul>
									</div>
								</li>
								<li class="nav-item">COMPANY
									<div class="dropdown">
										<ul class="nav-links">
											<li>About</li>
											<li>Contact Us</li>
											<li>Product Samples</li>
										</ul>
									</div>
								</li>
							</ul>
					</nav>
				</div>
			</div>
	</div>
	<div class="site-header__position"></div>
</section>



<!-- <%- partial('_partials/header/header-content') %> -->