<%- partial('_partials/hero/small-hero',
{
  type: 'about',
  isInLine:'true',
  leftContent:'',
  mainContent: 'About Hub KB.S'
})%>

<section class="about-info">
  <div class="container-medium caption m-t-50">
    <h2>
      Hub KB.S is a Ghanaian firm that provides a wide range of cutting edge solutions to individuals and organizations.</h2>
    <p>
      We are a strong team and everyone is good at what they do. That makes our products and services stand out.
      We have a team of hard working people who are always there to provide the best solution for you.
    </p>
  </div>
</section> 
<%- partial('_partials/sections/image-grid',{
  image_1: '../images/bg/black-woman-working.jpg',
  image_2: '../images/bg/woman-with-paper.jpg',
  style: ''
})%>
<section class="about-info">
  <div class="container-medium caption m-t-50 m-b-50">
    <p>
      HUB KB.S Company limited is a limited liability company registered under the company act of Ghana. The company aspires to be the best in providing quality services to its customers both local and abroad by working hard to achieve maximum satisfaction of our clients.
      Our virtues include; quality, integrity, excellence, and commitment. Therefore, we do not give a bit of opportunities for such virtues to be compromised.
    </p>
  </div>
</section>