<%- partial('_partials/hero/small-hero',
{
  type: 'about',
  isInLine:'true',
  leftContent:'',
  mainContent: 'About Hub KB.S'
})%>

<section class="about-info">
  <div class="container-medium m-t-50">
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, veniam eos. Non, corrupti. Fuga beatae sed facere quod dolore amet nobis at odit repellat possimus quia, delectus inventore repellendus illum!
      Cumque tenetur recusandae quasi suscipit quos vel facere fugiat, sed velit commodi? Maxime dolorum dolore, magnam aperiam, animi quas magni nesciunt minus nobis eveniet vitae natus unde vero quo velit!


    </p>
  </div>
</section>
<section class="about-piks grid-ui">
  <div class="grid container equal-columns_2">
    <div>
      <img src="https://images.unsplash.com/photo-1535017584024-2f4bead257df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1534844482878-4e273ad35c3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>
</section>
<section class="about-info">
  <div class="container-medium m-t-50 m-b-50">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, reiciendis adipisci? Accusamus autem eaque tempore doloribus, beatae temporibus reiciendis. Voluptatibus sit unde molestiae vel est perspiciatis? Soluta rem at corporis.
      Provident incidunt dicta explicabo quis animi quod eaque delectus alias rem quo distinctio ea voluptatem iste, dolores fugiat sit culpa repellendus necessitatibus quia tenetur quaerat ratione repudiandae expedita natus. Tempora?
      Saepe pariatur architecto perspiciatis culpa ab atque nulla officia autem dolores eum, excepturi, quis optio rerum beatae rem modi mollitia iusto molestiae impedit obcaecati labore recusandae. Impedit, inventore cupiditate. Eveniet!

    </p>
    <p>
        Veniam nisi mollitia a impedit, similique, tempora voluptatem tempore vitae fugit libero fuga ex ab dolor facere rerum vel eum consequatur quae nulla doloribus neque reiciendis. Cumque dolorem voluptatem voluptatibus!
        Velit earum dicta consequuntur in nulla explicabo delectus exercitationem illo itaque, fugit accusamus provident esse asperiores, reiciendis error minus doloribus debitis facilis quod. Atque debitis esse voluptas nemo commodi nesciunt?
        Placeat vitae illo, deserunt suscipit dignissimos, voluptatibus quis ipsum a exercitationem quidem laboriosam ducimus eum molestias voluptates eos provident itaque sit ad optio fuga eligendi dolore corporis. Sint, saepe obcaecati!
    </p>
  </div>
</section>