<h1>PUT HERE SECTION HERE</h1>
<section class="about-info">
    <div class="container">
        <div class="caption m-t-80">
            <h2>Research Buddies is a subsidiary of Hub KB.S Company Limited with experts in academic writing and projects.</h2>
            <p> 
							We exist to bridge the gap between knowledge and ignorance through research. 
							Our services extend to include in-depth chronological study on all topical issues that affect society and mankind. 
							We also undertake contracts of research works/projects proposed by our clients as well as partner with any individual, 
							group or organization who have interest in undertaking a research or project.
            </p>
            <p>
							We organize full research training for individuals and groups.
            </p>
        </div>
    </div>
</section>