<%- partial('_partials/hero/hero') %>
<section class="offerings" id="offerings">
  <div class="container grid-ui">
    <ul class="grid equal-columns_5 item-offerings__group">
      <li>
          <a href="#citation" class="" id="to-citation">
            <span class="citation group-icon"></span>
            <span>Citations</span>
          </a>
      </li>
      <li>
        <a href="#data-analysis" class="" id="to-data-analysis">
          <span class="analysis group-icon"></span>
          <span>Data Analysis</span>
        </a>
        </li>
      <li>
        <a href="#software" class="" id="to-software">
          <span class="software group-icon"></span>
          <span>I.T & Software</span>
        </a>
      </li>
      <li>
        <a href="#research" class="" id="to-research">
          <span class="research group-icon"></span>
          <span>Research</span>
        </a>
      </li>
      <li>
        <a href="#file_transfer" class="" id="to-printing">
          <span class="print group-icon"></span>
          <span>Printing</span>
        </a>
      </li>
  </ul>
  </div>
</section>
<!-- <section class="social-probe">
  <div class="container grid-ui">
   <div class="grid equal-columns_3">
    <div class="txt-airMirror item-wrap">
        <div class="tips-left-airMirror">
            <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_game.png">
            <div>
                <h5>
                    Vision
                </h5>
                <p>
                    Completing tasks on time while playing your mobile games like a pro
                </p>
            </div>
        </div>
        <div class="tips-left-airMirror">
            <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_camera.png">
            <div>
                <h5>
                    
                </h5>
                <p>
                    Checking the surrounding with device camera for guarding family safe
                </p>
            </div>
        </div>
    </div>
     <div>
       <img src="https://xcdn.next.co.uk/Common/Items/Default/Default/ItemImages/Search/224x336/113576.jpg?X56" alt="avatar" style="width:95%; padding: 20px;">
     </div>
     <div class="txt-airMirror item-wrap">
      <div class="tips-left-airMirror">
          <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_game.png">
          <div>
              <h5>
                  Creativity
              </h5>
              <p>
                  Completing tasks on time while playing your mobile games like a pro
              </p>
          </div>
      </div>
      <div class="tips-left-airMirror">
          <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_camera.png">
          <div>
              <h5>
                  Competitiveness
              </h5>
              <p>
                  Checking the surrounding with device camera for guarding family safe
              </p>
          </div>
      </div>
  </div>
   </div>
  </div>
</section> -->
<!-- <section class="media-caption grid-ui">
  <div class="equal-columns_2 grid">
    <div class="container quote-wrapper">
      <span class="quote"> <img src="../images/icons/left-quote.svg" alt=""> </span>
      <blockquote>
        We have served many individuals and groups with our quality products and services and we are still counting.
        The best of citations and frames come from hubkbs.
      </blockquote>
    </div>
    <div class="desktop-only bg-image_cover">two</div>
  </div>
</section> -->
<%- partial('_partials/sections/block',
{
  type: 'media-probe',
  quote: 'We have served many individuals and groups with our quality products and services and we are still counting. The best of <span class="quote-caption"> <b>citations</b> </span> and <span class="quote-caption"> <b>picture frames</b> </span> come from hubkbs.'
})%>
<section class="advert grid-ui" id="citation">
  <div class="grid container equal-columns_2 grid-gap_10">
    <div class="img-wrapper img-caption">
      <img src="../images/bg/africa.jpg" alt="" style="width: 100%">
    </div>
    <div class="caption">
      <div class="text-wrapper">
        <h4>
          Citations and Certificates
        </h4>
        <p>
          Get customized and presentable citations for your loved or cherished ones on any occasion.
          We also design and print certificates for individuals, schools and associations.
        </p>
        <p>
          No matter your demand, we have something that will match your bugdet. We are experienced in making good looking and presentable citations.
          We are always happy to give you something that you will always feel happy and proud to present to someone.
        </p>
        <a href="/citation">
          View Samples
      </a>
      </div>
    </div>
  </div>
</section>
<section class="advert advert-bg grid-ui" id="research">
  <div class="container grid equal-columns_2 grid-gap_10">
    <div class="caption">
     <div class="text-wrapper">
        <h4 data-scroll>
            Research
        </h4>
        <p>
          With our excellent and vibrant team, we are able to attend to all your needs when it comes to research.
          We have a strong team with experts from diverse backgrounds with good backgrounds in research. 
        <p class="desc">
          When you work with us, your research paper goes through the hands of competent research people,
          in the end, you are assured of a quality and well completed research work.
        </p>
        <a href="/research">
            Read More
        </a>
     </div>
    </div>
    <div class="img-wrapper img-caption">
      <img src="../images/bg/science.jpg" alt="" style="width: 100%">
    </div>
  </div>
</section>
<section class="advert grid-ui" id="data-analysis">
  <div class="container grid equal-columns_2">
    <div class="img-wrapper img-caption">
        <img src="../images/bg/woman-on-pc.jpg" alt="" style="width: 100%">
    </div>
    <div class="caption">
      <div class="text-wrapper">
        <h4>
            Data Gathering And Analysis
        </h4>
        <p class="desc">
          Research Buddies has a competent team that helps individuals and organizations to collect data, analyse the data 
          and interprete the data. Don't worry if you cannot go to the field to collect your data. Research buddies can deploy
          a data collection team on your behalf.
        </p>
        <a href="/research">
            Read More
        </a>
      </div>
    </div>
  </div>
</section>
<section class="advert advert-bg grid-ui">
    <div class="container grid equal-columns_2 grid-gap_10">
      <div class="caption">
        <div class="text-wrapper">
          <h4 data-scroll>
              Thesis
          </h4>
          <p class="desc">
            Writing a good academic paper like thesis is very stressfull, but it could be more hectic when you do not have the knowledge or the requisite skills to get it done.
          </p>
          <p>
            Therefore, we provide a holistic Training, consultation and guidance for undergraduates and masters students who get stucked in the course of writing their thesis.
          </p>
          <a href="/research">
            Read More
          </a>
        </div>
      </div>
      <div class="img-wrapper img-caption">
        <img src="../images/bg/research-paper.jpg" alt="" style="width: 100%">
      </div>
    </div>
  </section>
  <section class="advert grid-ui">
      <div class="container grid equal-columns_2 grid-gap_10">
        <div class="img-wrapper img-caption">
          <img src="../images/bg/lady-writing.jpg" alt="" style="width: 100%">
        </div>
        <div class="caption">
          <div class="text-wrapper">
            <h4>
                Dissertation
            </h4>
            <p class="desc">
              We partner with doctrate students who wish to make their research stand out. We provide a helping hand as the need may require.
              This may be in the form of review, proof reading, data gathering, data analysis or formatting of documents among others.
            </p>
            <p>
              Talk to us for a stress free and outstanding dissertation.
            </p>
            <a href="/research">
              Read More
            </a>
          </div>
        </div>
      </div>
  </section>
  <section class="advert advert-bg grid-ui" id="software">
    <div class="container grid equal-columns_2 grid-gap_10">
      <div class="caption">
        <div class="text-wrapper">
          <h4 data-scroll>
            I.T & Software Development
          </h4>
          <p>
            We build cutting edge and stunning websites, web applications, desktop applications, mobile applications and cloud services.
            We also build APIs to integrate existing systems. 
          </p>
          <p class="desc">
            Do you want to use I.T to transform your business? Just talk to us.
          </p>
          <a href="/software">
            Read More
          </a>
        </div>
      </div>
      <div class="img-wrapper img-caption">
        <img src="../images/bg/software-illus.jpg" alt="" style="width: 100%">
      </div>
    </div>
  </section>
  <section class="advert grid-ui" id="printing">
    <div class="container grid equal-columns_2 grid-gap_10">
      <div class="img-wrapper img-caption">
        <img src="../images/bg/large-formate-printer.jpg" alt="" style="width: 100%">
      </div>
      <div class="caption">
        <div class="text-wrapper">
          <h4>
            General Printing
          </h4>
          <p class="desc">
            We offer printing services ranging from black and white to colour. 
            We print all sorts of <b>paper materials</b> and <b>shirts </b> ranging from exercise books, certificates, flyers, brochures, product labels, stickers, banner among others.
            We print for both large and small scale. 
          </p>
          <p>If you ever think of printing anything, don't hesitate to contact us for a quick solution.</p>
          <a href="/printing">
            Read More
          </a>
        </div>
      </div>
    </div>
</section>
<section class="user-account">
<div class="container grid-ui">
  <div class="grid equal-columns_2 grid-gap_10">
    <div class="user-form">
      <div class="user-account__text">
        <h4> Talk to our research team </h4>
        <p>
          Do you want assistance with your research or thesis? You are almost there.
          Our team is ready and willing to assist you.
        </p>
        <a href="http://register.hubkbs.com/api/new" target="_blank" class="m-t-30 btn cta default">Leave a message</a>
      </div>
    </div>
    <div>
      <div class="user-form">
        <div class="user-account__text alt">
          <h4>Training </h4>
          <p>Do you want to improve your skills in research and I.T or even learn a new skill? You are only a step away from your dream skill.</p>
          <a href="http://register.hubkbs.com/api/new" target="_blank" class="m-t-30 btn cta primary">Let's Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="advert">
  <div class="container grid-ui">
    <div class="grid-auto_columns">
      <div class="four small-pad">
        <img src="../images/covers/tiger-black.jpg" alt="advert-image" style="width:100%">
      </div>
      <div class="twelve"> 
        <div class="caption row m-t-180">
          <h1 data-scroll> Customize Your Laptop </h1>
          <div class="caption">
            <p shake> Make it look the way you want. </p>
            <p>Our laptop covers are <b>Durable, </b>  <b>Water Proof</b>  and <b>last long</b> </p>
          </div>
          <div class="m-t-20">
            <a href="/covers" class=" btn primary m-r-10 m-b-20">
              View More
            </a>
            <a href="/contact" class="btn default m-l-10 m-b-20">
              Leave a message
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

