<%- partial('_partials/hero/hero') %>
<section class="offerings" id="offerings">
  <div class="container grid-ui">
    <ul class="grid item-offerings__group">
      <li>
        <a href="#file_transfer" class="">
          <span class="research group-icon"></span>
          <span>Research</span>
        </a>
      </li>
      <li>
        <a href="#file_transfer" class="">
          <span class="analysis group-icon"></span>
          <span>Data Analysis</span>
        </a>
        </li>
      <li>
        <a href="#file_transfer" class="">
          <span class="software group-icon"></span>
          <span>I.T & Software</span>
        </a>
      </li>
      <li>
        <a href="#citation" class="" id="to-citation">
          <span class="citation group-icon"></span>
          <span>Citations</span>
        </a>
      </li>
      <li>
        <a href="#file_transfer" class="">
          <span class="print group-icon"></span>
          <span>Printing</span>
        </a>
      </li>
  </ul>
  </div>
</section>
<section class="social-probe">
  <div class="container grid-ui">
   <div class="grid equal-columns_3">
    <div class="txt-airMirror item-wrap">
        <div class="tips-left-airMirror">
            <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_game.png">
            <div>
                <h5>
                    AFK Assistance
                </h5>
                <p>
                    Completing tasks on time while playing your mobile games like a pro
                </p>
            </div>
        </div>
        <div class="tips-left-airMirror">
            <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_camera.png">
            <div>
                <h5>
                    Remote Monitor
                </h5>
                <p>
                    Checking the surrounding with device camera for guarding family safe
                </p>
            </div>
        </div>
    </div>
     <div>
       <img src="https://xcdn.next.co.uk/Common/Items/Default/Default/ItemImages/Search/224x336/113576.jpg?X56" alt="avatar" style="width:95%; padding: 20px;">
     </div>
     <div class="txt-airMirror item-wrap">
      <div class="tips-left-airMirror">
          <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_game.png">
          <div>
              <h5>
                  AFK Assistance
              </h5>
              <p>
                  Completing tasks on time while playing your mobile games like a pro
              </p>
          </div>
      </div>
      <div class="tips-left-airMirror">
          <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/ic_camera.png">
          <div>
              <h5>
                  Remote Monitor
              </h5>
              <p>
                  Checking the surrounding with device camera for guarding family safe
              </p>
          </div>
      </div>
  </div>
   </div>
  </div>
</section>
<section class="advert grid-ui" id="citation">
    <div class="grid container equal-columns_2 grid-gap_10">
      <div class="img-wrapper img-caption">
        <img src="/images/bg/case_1.png" alt="" style="width: 100%">
      </div>
      <div class="caption">
       <div class="text-wrapper">
          <h4>
            Citations and Honorary
          </h4>
          <p>
            Get customized and presentable citations for your loved or cherished ones.
          </p>
          <p>
              No matter you demand, we have something that will match your bugdet. We are experienced in making good looking and presentable citations.
          </p>
          <p class="desc">
              You can order any of our citations for your Awards, Honorary, Birthday presents, etc. 
              What ever your need may be, just talk to us. We surely have something good for you.
          </p>
          <a href="#go_download_airmirror">
              Read More
          </a>
       </div>
      </div>
    </div>
</section>
<section class="advert advert-bg grid-ui">
  <div class="container grid equal-columns_2 grid-gap_10">
    <div class="caption">
     <div class="text-wrapper">
        <h4>
            Research
        </h4>
        <p>
            No matter it's local or remote network, you can use AirMirror to take complete control of your Android devices. The View Only Mode allows you to present your device screen, doing game live streaming and demonstrating apps, etc. You can also use the remote keyboard to type on device using your computer keyboard.
        </p>
        <p class="desc">
            Independent remote control App which support access mobile devices from the phone.
        </p>
        <a href="#go_download_airmirror">
            Read More
        </a>
     </div>
    </div>
    <div class="img-wrapper img-caption">
      <img src="/images/bg/case_2.png" alt="" style="width: 100%">
    </div>
  </div>
</section>
<section class="advert grid-ui">
    <div class="container grid equal-columns_2">
      <div class="img-wrapper img-caption">
          <img src="/images/bg/case_3.png" alt="" style="width: 100%">
      </div>
      <div class="caption">
       <div class="text-wrapper">
          <h4>
              Data Analysis
          </h4>
          <p>
              No matter you demand, we have something that will match your bugdet. We are experienced in making good looking and presentable citations.
          </p>
          <p class="desc">
              You can order any of our citations for your Awards, Honorary, Birthday presents, etc. 
              What ever your need may be, just talk to us. We surely have something good for you.
          </p>
          <a href="#go_download_airmirror">
              Read More
          </a>
       </div>
      </div>
    </div>
  </section>
  <section class="advert advert-bg grid-ui">
      <div class="container grid equal-columns_2 grid-gap_10">
        <div class="caption">
         <div class="text-wrapper">
            <h4>
                Thesis
            </h4>
            <p>
                No matter it's local or remote network, you can use AirMirror to take complete control of your Android devices. The View Only Mode allows you to present your device screen, doing game live streaming and demonstrating apps, etc. You can also use the remote keyboard to type on device using your computer keyboard.
            </p>
            <p class="desc">
                Independent remote control App which support access mobile devices from the phone.
            </p>
            <a href="#go_download_airmirror">
                Read More
            </a>
         </div>
        </div>
        <div class="img-wrapper img-caption">
          <img src="/images/bg/case_5.png" alt="" style="width: 100%">
        </div>
      </div>
    </section>
    <section class="advert grid-ui">
        <div class="container grid equal-columns_2 grid-gap_10">
          <div class="img-wrapper img-caption">
            <img src="/images/bg/case_4.png" alt="" style="width: 100%">
          </div>
          <div class="caption">
           <div class="text-wrapper">
              <h4>
                  Dissertation
              </h4>
              <p>
                  No matter it's local or remote network, you can use AirMirror to take complete control of your Android devices. The View Only Mode allows you to present your device screen, doing game live streaming and demonstrating apps, etc. You can also use the remote keyboard to type on device using your computer keyboard.
              </p>
              <p class="desc">
                  Independent remote control App which support access mobile devices from the phone.
              </p>
              <a href="#go_download_airmirror">
                  Read More
              </a>
           </div>
          </div>
        </div>
    </section>
    <section class="advert advert-bg grid-ui">
      <div class="container grid equal-columns_2 grid-gap_10">
        <div class="caption">
         <div class="text-wrapper">
            <h4>
                I.T & Software
            </h4>
            <p>
                No matter it's local or remote network, you can use AirMirror to take complete control of your Android devices. The View Only Mode allows you to present your device screen, doing game live streaming and demonstrating apps, etc. You can also use the remote keyboard to type on device using your computer keyboard.
            </p>
            <p class="desc">
                Independent remote control App which support access mobile devices from the phone.
            </p>
            <a href="#go_download_airmirror">
                Read More
            </a>
         </div>
        </div>
        <div class="img-wrapper img-caption">
          <img src="/images/bg/case_5.png" alt="" style="width: 100%">
        </div>
      </div>
    </section>
    <section class="advert grid-ui">
      <div class="container grid equal-columns_2 grid-gap_10">
        <div class="img-wrapper img-caption">
          <img src="/images/bg/case_4.png" alt="" style="width: 100%">
        </div>
        <div class="caption">
         <div class="text-wrapper">
            <h4>
                General Printing
            </h4>
            <p>
                No matter it's local or remote network, you can use AirMirror to take complete control of your Android devices. The View Only Mode allows you to present your device screen, doing game live streaming and demonstrating apps, etc. You can also use the remote keyboard to type on device using your computer keyboard.
            </p>
            <p class="desc">
                Independent remote control App which support access mobile devices from the phone.
            </p>
            <a href="#go_download_airmirror">
                Read More
            </a>
         </div>
        </div>
      </div>
  </section>
<section class="user-account">
<div class="container grid-ui">
  <div class="grid equal-columns_2 grid-gap_10">
    <div class="user-form">
      <div class="user-account__text">
        <h4>Free account </h4>
        <p>Allows you to transfer files across devices, control mobile devices remotely, receive and reply to messages on computer. It fulfills the basic needs.</p>
        <a href="#" class="m-t-30 btn cta default">Sign Up</a>
      </div>
    </div>
    <div>
      <div class="user-form">
          <div class="user-account__text alt">
            <h4>Free account </h4>
            <p>Allows you to transfer files across devices, control mobile devices remotely, receive and reply to messages on computer. It fulfills the basic needs.</p>
            <a href="#" class="m-t-30 btn cta primary">Sign Up</a>
          </div>
        </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container">
    <div class="item-pc-download m-t-90 m-b-90">
        <img src="//cdn1.airdroid.com/www_asset_201901311533/img/home/pic_download.png" alt="pic_download">
    </div>
  </div>
</section>
