<div class="laptop-cover__wrapper">
    <section class="carousel">
        <div class="container">
            <div class="carousel-item hero-text__wrapper">
                <div class="hero-text">
                    <h2>Laptop Covers</h2>
                    <p>Cover your laptop with a skin and don't worry about the scratches any more.</p>
                    <a href="/sales" class="btn primary">Contact Sales</a>
                </div>
            </div>
        </div>
    </section>
    <section class="m-t-100 m-b-100">
        <div class="container grid equal-columns__3 grid-gap__30">
            <div class="col-fit">
                <img src="/images/bg/hand.jpg" alt="" class="img-fit">
            </div>
            <div class="col-fit">
                <img src="/images/bg/durable.jpg" alt="" class="img-fit">
            </div>
            <div class="col-fit">
                <img src="/images/bg/fading.jpg" alt="" class="img-fit">
            </div>
        </div>
    </section>
    <section class="m-t-100 p-b-100">
        <div class="container grid equal-columns__4 grid-gap__30">
            <div class="col-xl card">  
                <div class="card-image">
                    <img src="/images/bg/laptop-fix.jpg" alt="" class="img-fit">
                </div>
                <div class="card-title">
                    <h2 class="p-t-20">Easy to apply</h2>
                </div>
                <div class="caption card-text italic">
                    <p>No special tools required. Simple peel, stick and trim off the excess parts.</p>
                </div>
            </div>
            <div class="col-xl card">  
                <div class="card-image">
                    <img src="/images/covers/laptopland-tn-3.jpg" alt="" class="img-fit">
                </div>
                <div class="card-title">
                    <h2 class="p-t-20">Light weight</h2>
                </div>
                <div class="caption card-text italic">
                    <p>Your laptop already weighs enough. Our skins do not add any extra weight to your laptop. They are very light but still tough.</p>
                </div>
            </div>
            <div class="col-xl card">  
                <div class="card-image">
                    <img src="/images/covers/kente.jpg" alt="" class="img-fit">
                </div>
                <div class="card-title">
                    <h2 class="p-t-20">Customizable</h2>
                </div>
                <div class="caption card-text italic">
                    <p>You can tell us how you want your design. We are eager to deliver based on your best options.</p>
                </div>
            </div> 
            <div class="col-xl card">  
                <div class="card-image">
                    <img src="/images/covers/IMG_20160827_171959.jpg" alt="" class="img-fit">
                </div>
                <div class="card-title">
                    <h2 class="p-t-20">Durable and non fading</h2>
                </div>
                <div class="caption card-text italic">
                    <p>Buy it once, change it only when you feel like. Our skins are resistant to fade and they last long.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="p-b-100 laptop-covers">
        <div class="container grid auto auto-columns__3 grid-gap__30">
            <div class="one col-1-3">
               <img src="/images/covers/laptopland-tn-8.jpg" alt="" class="img-fit">
               <div class="card-caption">
                   <h3>For Macbook</h3>
                   <p>Can be used for all size of Mac book</p>
               </div>
            </div>
            <div class="two col-1-3">
                <img src="/images/covers/laptopland-tn-7.jpg" alt="" class="img-fit">
                <div class="card-caption">
                    <h3>Sleek Design</h3>
                    <p>Fits every Laptop size and type</p>
                </div>
            </div>
        </div>
    </section>
    <section class="cover container samples-container grid-ui m-t-100" category= "Abstract Backgrounds - Cat A">
        <div class="m-t-40 grid center equal-columns_6 grid-gap__30">
            <div class="sample img-grid_item" number = "A01">
                <img src="../images/covers/eagle.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A02">
                <img src="../images/covers/v1.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A03">
                    <img src="../images/covers/Sr.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A04">
                <img src="../images/covers/st_big.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A05">
                <img src="../images/covers/p2-2.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A06">
                <img src="../images/covers/2.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A07">
                <img src="../images/covers/pbg.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A08">
                <img src="../images/covers/fbg.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A09">
                <img src="../images/covers/abg.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A10">
                <img src="../images/covers/st1.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A11">
                <img src="../images/covers/drop 2.jpg" alt="">
            </div>
            <div class="sample img-grid_item" number = "A11">
                <img src="../images/covers/7.jpg" alt="">
            </div>
        </div>
    </section>
        
    <section class="cover container grid-ui m-t-100 p-b-100" category= "Abstract Backgrounds">
        <div class="m-t-40 grid center equal-columns_6 grid-gap__30">
            <div class="sample img-grid_item" number="B01">
                <img src="../images/covers/new-2.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B02">
                <img src="../images/covers/stripes.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B03">
                <img src="../images/covers/kente.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B04">
                <img src="../images/covers/tiger-black.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B05">
                <img src="../images/covers/penguin.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B06">
                <img src="../images/covers/tiger-image.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B07" >
                <img src="../images/covers/new-1.jpg" alt="" >
            </div>
            <div class="sample img-grid_item" number="B08">
                <img src="../images/covers/dj.jpg" alt="" >
            </div>
            <div class=" sample img-grid_item"number="B09" >
                <img src="../images/covers/purple.jpg" alt="" >
            </div>
            <div class=" sample img-grid_item"number="B10" >
                <img src="../images/covers/b-ball.jpg" alt="" >
            </div>
            <div class=" sample img-grid_item"number="B10" >
                <img src="../images/covers/new-3.jpg" alt="" >
            </div>
            <div class=" sample img-grid_item"number="B10" >
                <img src="../images/covers/b-ball.jpg" alt="" >
            </div>
        </div>
    </section>
    <!-- <section class="p-b-100 laptop-covers">
        <div class="container grid auto auto-columns__3 grid-gap__30">
            <div class="two col-1-3">
                    <img src="/images/covers/laptopland-tn-7.jpg" alt="" class="img-fit">
                    <div class="card-caption">
                        <h3>Sleek Design</h3>
                        <p>Fits every Laptop size and type</p>
                    </div>
            </div>
            <div class="one col-1-3">
                <img src="/images/covers/laptopland-tn-8.jpg" alt="" class="img-fit">
                <div class="card-caption">
                    <h3>For Macbook</h3>
                    <p>Can be used for all size of Mac book</p>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section>
        <div class="price-tag container grid auto auto-columns__3">
            
        </div>
    </section> -->
</div>

<!-- 
<section class="carousel">
    <div class="container ">
       <div class="carousel-item">
       </div>
    </div>
</section>
<section class="cover container samples-container grid-ui m-t-100" category= "Abstract Backgrounds - Cat A">
    <div class="m-t-40 grid center equal-columns_4 grid-gap_10">
        <div class="sample img-grid_item" number = "A01">
            <img src="../images/covers/eagle.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A02">
            <img src="../images/covers/v1.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A03">
                <img src="../images/covers/Sr.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A04">
            <img src="../images/covers/st_big.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A05">
            <img src="../images/covers/p2-2.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A06">
            <img src="../images/covers/2.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A07">
            <img src="../images/covers/pbg.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A08">
            <img src="../images/covers/fbg.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A09">
            <img src="../images/covers/abg.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A10">
            <img src="../images/covers/st1.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "A11">
            <img src="../images/covers/drop 2.jpg" alt="">
        </div>
    </div>
</section>

<section class="cover container grid-ui m-t-100 m-b-100" category= "Abstract Backgrounds">
    <div class="m-t-40 grid center equal-columns_4 grid-gap_10">
        <div class="sample img-grid_item" number="B01">
            <img src="../images/covers/before.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B02">
            <img src="../images/covers/stripes.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B03">
            <img src="../images/covers/kente.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B04">
            <img src="../images/covers/tiger-black.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B05">
            <img src="../images/covers/penguin.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B06">
            <img src="../images/covers/tiger-image.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B07" >
            <img src="../images/covers/blue-bg.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="B08">
            <img src="../images/covers/dj.jpg" alt="" >
        </div>
        <div class=" sample img-grid_item"number="B09" >
            <img src="../images/covers/purple.jpg" alt="" >
        </div>
        <div class=" sample img-grid_item"number="B10" >
            <img src="../images/covers/b-ball.jpg" alt="" >
        </div>
    </div>
</section>
<div class="row m-b-50">
   <a href="/contact" class="btn primary">Leave a Message</a>
</div> -->