
<section class="slide-show">
    <h2>show slide show here</h2>
</section>

<h1>LAPTOP COVER GRID IS HERE</h1>
<section class="grid-ui">
    <div class="container grid equal-columns_4">
        <div class="img-grid_item">
            <img src="../images/covers/before.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/stripes.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/kente.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/tiger-black.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/penguin.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/tiger-image.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/blue-bg.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/dj.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/purple.jpg" alt="" >
        </div>
        <div class="img-grid_item">
            <img src="../images/covers/b-ball.jpg" alt="" >
        </div>
    </div>
</section>