
<section class="carousel">
    <div class="container ">
       <div class="carousel-item">
       </div>
    </div>
</section>
<section class="cover container samples-container grid-ui m-t-100" category= "Abstract Backgrounds">
    <div class="m-t-40 grid center equal-columns_4 grid-gap_10">
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/eagle.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/v1.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
                <img src="../images/covers/Sr.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/st_big.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/p2-2.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/2.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/pbg.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/fbg.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/abg.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/st1.jpg" alt="">
        </div>
        <div class="sample img-grid_item" number = "01">
            <img src="../images/covers/drop 2.jpg" alt="">
        </div>
    </div>
</section>

<section class="cover container grid-ui m-t-100 m-b-100" category= "Abstract Backgrounds">
    <div class="m-t-40 grid center equal-columns_4 grid-gap_10">
        <div class="sample img-grid_item" number="02">
            <img src="../images/covers/before.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="03">
            <img src="../images/covers/stripes.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="04">
            <img src="../images/covers/kente.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="05">
            <img src="../images/covers/tiger-black.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="06">
            <img src="../images/covers/penguin.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="07">
            <img src="../images/covers/tiger-image.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="08" >
            <img src="../images/covers/blue-bg.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="09">
            <img src="../images/covers/dj.jpg" alt="" >
        </div>
        <div class=" sample img-grid_item"number="10" >
            <img src="../images/covers/purple.jpg" alt="" >
        </div>
        <div class=" sample img-grid_item"number="11" >
            <img src="../images/covers/b-ball.jpg" alt="" >
        </div>
    </div>
</section>
<div class="row m-b-50">
   <a href="" class="btn primary">Leave a Message</a>
</div>