
<section class="carousel">
    <div class="container ">
       <div class="carousel-item">
       </div>
    </div>
</section>
<section class="samples-container grid-ui">
    <div class="container grid center equal-columns_4 grid-gap_10">
        <div class="sample img-grid_item" number = "01">
            <!-- <img src="../images/bg/science.jpg" alt=""> -->
        </div>
    </div>
</section>

<section class="container grid-ui">
    <h3>Preview Samples</h3>
    <div class="grid center equal-columns_4 grid-gap_10">
        <div class="sample img-grid_item" number="02">
            <img src="../images/covers/before.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="03">
            <img src="../images/covers/stripes.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="04">
            <img src="../images/covers/kente.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="05">
            <img src="../images/covers/tiger-black.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="06">
            <img src="../images/covers/penguin.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="07">
            <img src="../images/covers/tiger-image.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="08" >
            <img src="../images/covers/blue-bg.jpg" alt="" >
        </div>
        <div class="sample img-grid_item" number="09">
            <img src="../images/covers/dj.jpg" alt="" >
        </div>
        <div class=" sample img-grid_item"number="10" >
            <img src="../images/covers/purple.jpg" alt="" >
        </div>
        <div class=" sample img-grid_item"number="11" >
            <img src="../images/covers/b-ball.jpg" alt="" >
        </div>
    </div>
</section>