<%- partial('_partial/header/head') %>
<body>
  <div class="wrapper">
    <header>
        <%- partial('_partial/header/header') %>
    </header>
    <main>
        <%- body %>
    </main>

   <footer>
      <%- partial('_partial/footer') %>
   </footer>
  </div>
</body>