<%- partial('_partials/hero/small-hero',
{
  type: 'citation',
  isInLine:'true',
  leftContent:'',
  mainContent: 'Our Services'
})%>
<section class="tabs">
  <%-partial('_partials/sections/services-tabs', {type: 'research'}) %>
</section>
<section  class="research-links">
  <%-partial('_partials/sections/sections-brief',
  {
    one: 'Data Analysis',
    two: 'Dissertation',
    three: 'Project Work',
    four: 'Thesis',
    five: '',
    six: ''
  }) %>
</section>
<section class="m-t-50 m-b-50">
  <div class="container caption">
    <h1 data-scroll>Research</h1>
    <p>
      Research Buddies is a subsidiary of Hub KB.S Company Limited with experts in academic writing and projects.
      We exist to bridge the gap between knowledge and ignorance through research.
      Our services extend to include in-depth chronological study on all topical issues that affect society and mankind.
      We also undertake contracts of research works/projects proposed by our clients as well as partner with any individual, 
      group or organization who have interest in undertaking a research or project.
    </p>
    <p>
      We do proposal writing, literature review, proof reading, table of content and formatting of documents.
      We also train groups and individuals at a fee which is highly negotiable. 
      Training ranges from one day to 6 months depending on the requirement. 
      Our training covers; Research/project writing, Data coding and analysis with <b> SPSS, STATA</b> and <b>GRETL</b>. 
    </p>
    <p>
      We also offer training in statistical tools used in data analysis. During training we provide all necessary materials to students. 
      Join Research Buddies and be the researcher you have always dreamt to be. 
      As part of our social responsibilities, Research Buddies organizes free seminars/workshops for students at 
      tertiary levels to broaden their knowledge in Research Skills and Thesis/Project writing. 
      Finally, we provide consultancy in research and data analysis to help clients with the best approach to all research works including thesis and dissertations. 
    </p>
  </div>
</section>
<%- partial('_partials/sections/image-grid',{
  image_1: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyueoc1yaTWFSGLpKerlXXpRKKVgp6W0jk1y0A2xajEcq3CuTv',
  image_2: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyoF_G3ujySkEc4cQ5jJbIgaL6plbArSOWMNvxSY5WNVsgq5KEgA'
})%>
<section id="data-analysis" class="m-t-50 m-b-50">
  <div class="container caption">
    <h1>Data Gathering And Analysis</h1>
    <p>
      Research and data analysis have always been time consuming and very stressful. 
      We therefore provide our clients with the opportunities to hire us to work on both small and large data whether data gathering or data analysis. 
      We use various data gathering instruments and analysis software that suits the demand of the data in question. 
      If you don't have the skills or the time to work on your data, we are here to save you off that hurdle.
    </p>
  </div>
</section>
<section>
  <div class="container caption">
    <h1 data-scroll>Our Data Gathering Tools</h1>
  </div>
  <div class="container grid-ui m-t-50 m-b-50">
    <div class="grid equal-columns_3 center grid-gap_10">
      <div>
        <img src="/images/bg/spss.png" alt="" class="img-sm__pad-center">
      </div>
      <div>
        <img src="/images/bg/stata.jpg" alt="" class="img-sm__pad-center">
      </div>
      <div>
        <img src="/images/bg/gretl-logo.png" alt="" class="img-sm__pad-center">
      </div>
    </div>
  </div>
</section>