<%- partial('_partials/hero/small-hero',
{
  type: 'citation',
  isInLine:'true',
  leftContent:'',
  mainContent: 'Our Services'
})%>
<section class="tabs">
  <%-partial('_partials/sections/services-tabs', {type: 'research'}) %>
</section>
<section  class="research-links">
  <%-partial('_partials/sections/sections-brief',
  {
    one: 'Data Analysis',
    two: 'Dissertation',
    three: 'Project Work',
    four: 'Thesis',
    five: '',
    six: ''
  }) %>
</section>
<div class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde magnam animi totam a obcaecati, pariatur deserunt tempore laboriosam sint praesentium atque officia molestias ex quaerat consequatur neque repudiandae nam harum.
    A officia corrupti nisi minima impedit. Impedit quo necessitatibus sunt illo non placeat cum consequatur minus, nam, sit debitis nisi. Voluptatem suscipit quisquam unde rerum perspiciatis vitae, impedit quam quas!
    Adipisci dolores sint optio, excepturi numquam incidunt in voluptas sequi corrupti porro pariatur impedit ipsum illo error eveniet deserunt modi cum voluptatibus tempore dolore exercitationem recusandae amet ratione? Sed, dolore?
    Error dignissimos beatae blanditiis ipsum tenetur. Molestias recusandae unde veniam, debitis atque dolor voluptas cum voluptates eveniet voluptate rem minus accusantium optio fugit voluptatibus magnam consectetur vitae, eius explicabo veritatis.
    Culpa at quas reiciendis vitae dignissimos. Commodi, impedit error aliquid voluptatum perferendis natus, mollitia esse hic facere nisi voluptate. Totam laboriosam impedit eligendi placeat accusantium molestiae a reiciendis aliquam ut!
    In, facilis aspernatur nesciunt libero eius quis exercitationem consectetur iusto quae fugit iste ipsa sint voluptas reprehenderit corporis ex. Exercitationem illo illum cum nobis officia adipisci quidem et molestias tempora!
    Nam illo non quasi quis optio sunt iure voluptatem accusamus eveniet a similique aliquid officiis, nemo eos minima iusto maiores, placeat enim odit deserunt corporis vel aperiam numquam? Iste, consequatur.
    Aliquam alias, neque quo doloremque numquam officia magnam maxime! Placeat a mollitia optio accusantium consequatur, quasi officia totam ut minus quaerat esse animi aspernatur, numquam consequuntur fugit. Nemo, temporibus saepe!
    Sapiente, accusamus ab delectus ex, facilis voluptate non velit sunt dignissimos sint aliquam vel quod nisi incidunt! Praesentium ut rem, error dolores quos modi natus neque quo laborum eum officiis?

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem iste voluptas quam minima placeat aperiam laborum. Natus, animi? Dignissimos incidunt quaerat nihil magni, maxime optio at! Sequi alias eos vel?
      Vero maiores quidem ad laboriosam cupiditate ex quis repudiandae delectus ab, laudantium reiciendis molestiae nulla iure quam consectetur ullam repellat, veniam doloremque non placeat ipsum. Nesciunt consequatur eius illum totam?
      Similique laborum eum natus unde, distinctio iure. Assumenda molestiae aliquid pariatur, veniam repudiandae labore provident minima ea dolores dolor repellendus at recusandae voluptas fuga voluptate omnis, placeat atque quis quos!
      Sint adipisci facere sapiente ut id quae molestiae dignissimos explicabo dicta qui dolor odio fugit ratione, nisi quisquam? Distinctio fugit nisi pariatur corporis nam quas ex possimus tempora fugiat repellendus?
      Recusandae voluptatum ut alias ea asperiores, laborum adipisci autem mollitia aspernatur vero accusamus distinctio non libero odio facere architecto rem voluptatibus. Totam, at aperiam? Obcaecati ipsam nihil consectetur consequuntur recusandae.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, tempora debitis vitae maiores assumenda odio ad tenetur veritatis amet earum exercitationem accusamus delectus dolorem doloremque excepturi similique repellendus sequi ea!
      Rem nobis, suscipit aut ad doloribus minus optio. Fugiat alias dolor ducimus, delectus incidunt quasi ut id ipsa cupiditate. Et asperiores hic quaerat eaque temporibus! Aliquam maiores et totam exercitationem!
      Magnam ratione quam necessitatibus eius, porro earum nihil fuga corporis delectus ullam. Excepturi cupiditate maiores odio sint. Molestias excepturi libero velit dolore tempore rerum minus. Aliquam minus hic dolor accusamus.
      Quidem ipsa fugit exercitationem, facere aliquid magnam incidunt ab. Quisquam ex amet nesciunt tempore iste ad obcaecati perspiciatis sit placeat ut unde molestias provident repellendus nostrum nihil nobis, fugit voluptatum.
      Repudiandae reiciendis vel at quae eius cumque placeat facilis optio error aliquid, beatae eveniet laborum tempora earum id autem harum cupiditate sunt nesciunt nihil dignissimos sed sapiente saepe? Repudiandae, dolorem?
      Ab totam dignissimos optio provident ex blanditiis earum porro quas. Rerum, recusandae nisi. Saepe iure doloremque asperiores error sit. Quas eius omnis odio voluptatum facilis dolor quam fugit eveniet? Optio!
      Odio exercitationem unde culpa! Hic natus dolor vitae quas tempore eum esse qui suscipit neque, perferendis exercitationem. Ad, in voluptatem quia iste veritatis accusamus quam fuga, neque est quisquam laboriosam.
      Beatae, nesciunt numquam eveniet quod error eligendi accusantium quas! Cumque, quas, necessitatibus velit impedit accusamus a veritatis excepturi illo, totam perspiciatis quos dolor dolores molestiae? Dignissimos illo saepe labore quos!
    </p>
</div>