<section class="grid-ui m-t-100 m-b-100">
    <div class="container grid-auto_columns">
        <div class="nine text-wrapper caption">
            <h1 data-scroll >Let's Talk About What Interests You</h1>
            <div class="m-t-50">
                <img src="../images/icons/undraw_contact_us_15o2.svg" alt="" class="img-fit-pad">
            </div>
        </div>
        <div class="seven container">
            <div class="contact-form">
                <form action="" id="contact-form">
                    <input type="text" name="username" id="" placeholder="What name shall we call you?" required pattern="[a-zA-Z-\s]+" min="3" max="32">
                    <input type="tel" name="contact" id=""  placeholder="What's Your Phone Number?" required min="10" max="15">
                    <input type="email" name="email" id="" placeholder="Enter Your Email Address" required>
                    <textarea name="message" id="" cols="30" rows="5" placeholder="Leave a message" required minlength="8" maxlength="255"></textarea>
                    <button type="submit" class="btn primary m-t-30 m-l-20" id="btnSubmit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>