<%- partial('_partials/hero/small-hero',
{
  type: 'software',
  isInLine:'true',
  leftContent:'',
  mainContent: 'Our Services'
})%>
<section class="tabs">
  <%-partial('_partials/sections/services-tabs', {type: 'software'}) %>
</section>

<section class="about-info">
  <div class="container-medium caption m-t-50">
    <h2>
      We are happy to help you transform your business and give you a competitive advantage by using cutting edge technologies.
    </h2>
    <p>
      We develop and manage softwares for individuals and organizations. We also provide an effective way for companies and groups to reach their customer base 
      easily and more conviniently.
    </p>
    <p class="p-t-20">
      Our ultimate focus is getting you the kind of system that you need to boost your business.
      We build <b>cloud applications, desktop applications, mobile applications, co-operate websites and robust APIs</b> to interface with existing systems.
    </p>
    <h2>Do you need a customized software for your business? Just Talk to us.</h2>
  </div>
</section> 
<%- partial('_partials/sections/image-grid', {
  image_1: 'https://theurbantwist.com/wp-content/uploads/2017/08/cloud-crm-software.jpg',
  image_2: '../images/bg/woman-with-paper.jpg',
  style: 'width:85%\;margin-left:60px'
})%>

<!-- <section class="about-info">
    <div class="container-medium caption m-t-50">
      <p>
        Our core platforms include ...
      </p>
    </div>
</section>  -->