<section>
    <div class="container grid-ui">
			<div class="course-container m-t-80 m-b-50">
				<div class="grid large-equal-columns_auto">
					<div class="course-item shadow"> training module one</div>
					<div class="course-item shadow"> training module two</div>
					<div class="course-item shadow"> training module three</div>
					<div class="course-item shadow"> training module four</div>
					<div class="course-item shadow"> training module five</div>
					<div class="course-item shadow"> training module six</div>
      			</div>
		</div>
    </div>
</section>