<!-- <section>
    <div class="container grid-ui">
			<div class="course-container m-t-80 m-b-50">
				<div class="grid large-equal-columns_auto">
					Research Training
					<div class="course-item shadow"> training 1 -- Full training in academic writing </div>
					<div class="course-item shadow"> training 2 -- Data Analysis with SPSS</div>
					<div class="course-item shadow"> training 3 -- Data Analysis with Gretl</div>
					<div class="course-item shadow"> training 4 -- Documnent Formating and Table of Content</div>
					<div class="course-item shadow">training 5 -- Data Gathering Techniques</div>

					IT training
					<div class="course-item shadow"> training module five</div>
					<div class="course-item shadow"> training module six</div>
				</div>
		</div>
		<div class="row m-b-50">
			<p>Do you want to improve your skills in any of these areas or even learn something new?</p>
			<div class="m-t-50">
					<a href="#" class="m-t-30 btn primary">Click here to get started</a>
			</div>
    </div>
    </div>
</section> -->

<h1 class=" container m-t-90 m-b-90"> coming soon </h1>